Repository d-kimuson/kimuson.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, cspell, blog-eslint, articles-eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      stage_fixed: true
      skip:
        - merge
        - rebase
      run: |
        pnpm run:prettier {staged_files} --write

    cspell:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm cspell lint --gitignore --cache {staged_files}

    blog-eslint:
      glob: "*.{ts,tsx,mts,mcs,js,jsx,mjs,cjs}"
      stage_fixed: true
      skip:
        - merge
        - rebase
      root: "apps/blog/"
      run: |
        pnpm --filter @kimuson.dev/blog eslint --fix {staged_files}

    articles-eslint:
      glob: "*.{ts,tsx,mts,mcs,js,jsx,mjs,cjs}"
      stage_fixed: true
      skip:
        - merge
        - rebase
      root: "packages/articles/"
      run: |
        pnpm --filter @kimuson.dev/articles eslint --fix {staged_files}

chore: remove setup script
  scripts/setup.sh
Due: none

remove ds_store
  .DS_Store
  .gitignore
Due: none

fix: restore article files from commit 29f51aa
  packages/articles/content/Django/drf_serializer_auto_type/index.mdx
  packages/articles/content/Django/slack_django_app.md
  packages/articles/content/Gatsby/replace_gatsby_blog_mdx/index.md
  packages/articles/content/Python/mypy_pylance/index.mdx
  packages/articles/content/React/deps_custom_compare/index.mdx
  packages/articles/content/TypeScript/react_router_typing/index.mdx
  packages/articles/content/TypeScript/ts_switch_try_catch/index.mdx
  packages/articles/content/フロントエンド/astro_remake_blog/index.mdx
  packages/articles/content/フロントエンド/auth0_token_django_next_imple/index.mdx
Due: prettier, cspell

add gitignore
  .gitignore
Due: none

fix: build & deploy script
  scripts/build.sh
  scripts/deploy.sh
Due: none

build script
  package.json
  scripts/build.sh
Due: prettier, cspell

required script permission
  scripts/deploy.sh
Due: none

fix directory structure
  apps/blog/public/ogp/Django/drf_serializer_auto_type.png
  apps/blog/public/ogp/GAS/gas_webpack.png
  apps/blog/public/ogp/Gatsby/gatsby_v3.png
  apps/blog/public/ogp/Gatsby/replace_gatsby_blog_mdx.png
  apps/blog/public/ogp/Next/ssg_nextjs_image_optimization.png
  apps/blog/public/ogp/Python/mypy_pylance.png
  apps/blog/public/ogp/Python/pyqt1.png
  apps/blog/public/ogp/Python/python_with_npm_scripts.png
  apps/blog/public/ogp/React/deps_custom_compare.png
  apps/blog/public/ogp/TypeScript/prisma_method.png
  apps/blog/public/ogp/TypeScript/react_router_typing.png
  apps/blog/public/ogp/TypeScript/ts_conditional_type_infer.png
  apps/blog/public/ogp/TypeScript/ts_node_esm_paths.png
  apps/blog/public/ogp/TypeScript/ts_switch_try_catch.png
  apps/blog/public/ogp/VSCode/eslint_stylelint_prettier_vscode_onsave.png
  apps/blog/public/ogp/VSCode/vscode_textlint_md.png
  apps/blog/public/ogp/インフラ/heroku_docker_image.png
  apps/blog/public/ogp/バックエンド/fastapi_openapi_generator_file_with_nested_object.png
  apps/blog/public/ogp/フロントエンド/astro_remake_blog.png
  apps/blog/public/ogp/フロントエンド/auth0_token_django_next_imple.png
  apps/blog/public/ogp/フロントエンド/csrf_spa.png
  apps/blog/public/ogp/フロントエンド/css_sep_selector_in_out.png
  apps/blog/public/ogp/フロントエンド/focus_display_none.png
  apps/blog/public/ogp/フロントエンド/z_index_react_portal.png
  apps/blog/public/ogp/雑記/2020_look_back.png
  apps/blog/public/ogp/雑記/2021_look_back.png
  apps/blog/public/ogp/雑記/book_memo_seven_habits.png
  apps/blog/src/scripts/ogp-generator/index.ts
Due: prettier, cspell, blog-eslint

fix table format broken
  apps/blog/package.json
  apps/blog/src/app/blog/[...slug]/page-content.tsx
  packages/articles/src/scripts/generate-summary/processors/github.ts
  pnpm-lock.yaml
Due: prettier, cspell, blog-eslint, articles-eslint

ci: fix ci
  .github/workflows/ci.yaml
  .github/workflows/claude-code-review.yml
Due: prettier, cspell

update wrangler.jsonc, change app name
  apps/blog/wrangler.jsonc
Due: none

static build の timeout を伸ばす
  apps/blog/next.config.ts
Due: prettier, cspell, blog-eslint

add VRT feature
  .env.secret.template
  .envrc
  .github/actions/setup_node/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/vrt.yml
  .gitignore
  apps/blog/.gitignore
  apps/blog/package.json
  apps/blog/regconfig.json
  apps/blog/tsconfig.json
  apps/blog/vrt/browserController.ts
  apps/blog/vrt/main.ts
  apps/blog/vrt/route-discovery.ts
  cspell.json
  package.json
  pnpm-lock.yaml
Due: prettier, cspell, blog-eslint

update CLAUDE.md
  CLAUDE.md
Due: prettier, cspell

add claude script
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

update context
  .claude/commands/update-claude-context.md
  CLAUDE.md
  cspell.json
  docs/ogp.md
  docs/style.md
Due: prettier, cspell

paths filter 剥がす
  .github/workflows/vrt.yml
Due: prettier, cspell

登壇リスト追加
  apps/blog/src/app/about/page.tsx
  apps/blog/src/components/Header.tsx
Due: prettier, cspell, blog-eslint

OSS のレイアウト調整
  apps/blog/src/app/projects/page.tsx
Due: prettier, cspell, blog-eslint

日本語ベースにする
  apps/blog/src/app/about/page.tsx
  apps/blog/src/app/layout.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/app/tags/page.tsx
  apps/blog/src/components/Footer.tsx
  apps/blog/src/components/Header.tsx
  apps/blog/src/components/HeroBanner.tsx
Due: prettier, cspell, blog-eslint

ブログスタイルを刷新
  apps/blog/src/app/about/page.tsx
  apps/blog/src/app/blog/page-content.tsx
  apps/blog/src/app/blog/page.tsx
  apps/blog/src/app/globals.css
  apps/blog/src/app/page.tsx
  apps/blog/src/components/CompactProfileCard.tsx
  apps/blog/src/components/Footer.tsx
  apps/blog/src/components/Header.tsx
  apps/blog/src/components/HeroBanner.tsx
  apps/blog/tailwind.config.ts
Due: prettier, cspell, blog-eslint

add oss projects
  packages/articles/src/core/configs.ts
Due: prettier, cspell, articles-eslint

chore fix search modal
  apps/blog/src/components/SearchModal.tsx
Due: prettier, cspell, blog-eslint

update article detail page styles
  apps/blog/src/app/blog/[...slug]/page-content.tsx
  apps/blog/src/app/globals.css
Due: prettier, cspell, blog-eslint

タグページ
  apps/blog/src/app/blog/page-content.tsx
  apps/blog/src/app/tags/[tag]/not-found.tsx
  apps/blog/src/app/tags/[tag]/page-content.tsx
  apps/blog/src/app/tags/[tag]/page.tsx
  apps/blog/src/app/tags/page.tsx
  apps/blog/src/components/ArticleCard.tsx
  apps/blog/src/components/ArticleGrid.tsx
  apps/blog/src/components/Header.tsx
Due: prettier, cspell, blog-eslint

update search layout
  apps/blog/package.json
  apps/blog/src/app/blog/page-content.tsx
  apps/blog/src/components/Header.tsx
  apps/blog/src/components/SearchModal.tsx
  apps/blog/src/components/ui/command.tsx
  apps/blog/src/components/ui/dialog.tsx
  cspell.json
  pnpm-lock.yaml
Due: prettier, cspell, blog-eslint

change layout
  apps/blog/public/zenn-logo.svg
  apps/blog/src/app/blog/page-content.tsx
  apps/blog/src/app/blog/page.tsx
Due: prettier, cspell, blog-eslint

VRT optimize
  .env.secret.template
  .github/workflows/vrt-baseline-update.yml
  .github/workflows/vrt-check.yml
  apps/blog/package.json
  apps/blog/regconfig.json
  pnpm-lock.yaml
Due: prettier, cspell

add reg-simple-keygen-plugin
  apps/blog/package.json
  pnpm-lock.yaml
Due: prettier, cspell

fix tags with space not found
  apps/blog/src/app/tags/[tag]/page.tsx
  packages/articles/src/core/configs.ts
Due: prettier, cspell, blog-eslint, articles-eslint

外部記事の日付指定機能実装
  apps/blog/src/components/ArticleCard.tsx
  apps/blog/src/components/SearchModal.tsx
  packages/articles/src/core/configs.ts
  packages/articles/src/core/schema.ts
  packages/articles/src/index.ts
  packages/articles/src/scripts/generate-summary/index.ts
  packages/articles/src/scripts/generate-summary/processors/feed.ts
  packages/articles/src/scripts/generate-summary/processors/ogp.ts
Due: prettier, cspell, blog-eslint, articles-eslint

chore fix
  .github/workflows/vrt-baseline-update.yml
  apps/blog/package.json
  packages/articles/src/scripts/generate-summary/processors/ogp.ts
Due: prettier, cspell, articles-eslint

chore update vrt
  .github/workflows/vrt-baseline-update.yml
  .github/workflows/vrt-check.yml
Due: prettier, cspell

update vrt
  .github/workflows/vrt-baseline-update.yml
  .github/workflows/vrt-check.yml
Due: prettier, cspell

add mcp example
  .claude/mcp.example.json
Due: prettier, cspell

update external contents
  package.json
  packages/articles/src/core/configs.ts
Due: prettier, cspell, articles-eslint

write article
  apps/blog/public/ogp/インフラ/chezmoi_nix_home_manager.png
  packages/articles/content/インフラ/chezmoi_nix_home_manager/index.md
Due: prettier, cspell
