Repository d-kimuson/kimuson.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, cspell, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: |
        pnpm prettier --write --ignore-unknown {staged_files}
        git add {staged_files}
    cspell:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm cspell lint --gitignore --cache {staged_files}
    eslint:
      glob: "*.{tsx,ts,mts,mcs}"
      run: |
        pnpm eslint --fix {staged_files}
        git add {staged_files}

prepare-commit-msg:
  parallel: true
  scripts:
    "commitizen.sh":
      interactive: true
      runner: sh

feat: update article configurations and add jsdom support
  packages/articles/package.json
  packages/articles/src/core/configs.ts
  packages/articles/src/scripts/generate-summary/index.ts
  packages/articles/src/scripts/generate-summary/processors/markdown.ts
  packages/articles/src/scripts/generate-summary/processors/ogp.ts
  pnpm-lock.yaml
Due: prettier, cspell, eslint

feat: enhance article module with project and speech retrieval
  packages/articles/src/core/schema.ts
  packages/articles/src/core/types.ts
  packages/articles/src/index.ts
  packages/articles/src/scripts/generate-summary/index.ts
Due: prettier, cspell, eslint

feat: update project page to retrieve projects dynamically and enhance configuration
  apps/blog-v2/next.config.ts
  apps/blog-v2/src/app/projects/page.tsx
  packages/articles/src/index.ts
Due: prettier, cspell, eslint

separate server and client component on blog page
  apps/blog-v2/src/app/blog/page-content.tsx
  apps/blog-v2/src/app/blog/page.tsx
Due: prettier, cspell, eslint

feat: enhance blog and header components with responsive design
  apps/blog-v2/src/app/blog/[...slug]/page-content.tsx
  apps/blog-v2/src/app/blog/page-content.tsx
  apps/blog-v2/src/components/Header.tsx
Due: prettier, cspell, eslint

feat: update article package and add asset copying functionality
  apps/blog-v2/public/assets/Python/mypy_pylance/call_function.png
  apps/blog-v2/public/assets/Python/mypy_pylance/django.gif
  apps/blog-v2/public/assets/Python/mypy_pylance/implemetation.png
  apps/blog-v2/public/assets/Python/mypy_pylance/input_help.png
  apps/blog-v2/public/assets/Python/mypy_pylance/mypy_sample.png
  apps/blog-v2/public/assets/Python/pyqt1/qtdesigner.png
  apps/blog-v2/public/assets/TypeScript/react_router_typing/img1.png
  apps/blog-v2/public/assets/TypeScript/react_router_typing/img2.png
  apps/blog-v2/public/assets/TypeScript/react_router_typing/img3.png
  apps/blog-v2/public/assets/VSCode/vscode_textlint_md/example.png
  apps/blog-v2/public/assets/フロントエンド/astro_remake_blog/astro_score.png
  apps/blog-v2/public/assets/フロントエンド/astro_remake_blog/gatsby_score.png
  apps/blog-v2/public/assets/フロントエンド/auth0_token_django_next_imple/autologin.gif
  apps/blog-v2/public/assets/フロントエンド/auth0_token_django_next_imple/create_account.png
  apps/blog-v2/public/assets/フロントエンド/auth0_token_django_next_imple/token.png
  packages/articles/package.json
  packages/articles/src/copy-article-assets.ts
  packages/articles/src/core/configs.ts
  packages/articles/src/scripts/generate-summary/path.ts
  packages/articles/src/scripts/generate-summary/processors/github.ts
  packages/articles/tsup.config.ts
  pnpm-lock.yaml
Due: prettier, cspell, eslint

feat: enhance article page with code snippet copy functionality
  apps/blog-v2/src/app/blog/[...slug]/page-content.tsx
  packages/articles/content/TypeScript/react_router_typing/index.md
Due: prettier, cspell, eslint

feat: enhance blog article functionality and styling
  apps/blog-v2/next.config.ts
  apps/blog-v2/package.json
  apps/blog-v2/src/app/blog/[...slug]/opg-image.ts
  apps/blog-v2/src/app/blog/[...slug]/page-content.tsx
  apps/blog-v2/src/app/blog/[...slug]/page.tsx
  apps/blog-v2/src/app/blog/page-content.tsx
  apps/blog-v2/src/app/globals.css
  packages/articles/content/Django/slack_django_app.md
  packages/articles/package.json
  pnpm-lock.yaml
Due: prettier, cspell, eslint

feat: integrate Open Graph Protocol support and refactor article fetching
  apps/blog-v2/package.json
  apps/blog-v2/src/app/blog/[...slug]/opg-image.ts
  apps/blog-v2/src/app/blog/[...slug]/page.tsx
  apps/blog-v2/src/app/projects/page.tsx
  packages/articles/package.json
  packages/articles/src/scripts/generate-summary/processors/github.ts
  packages/articles/src/scripts/generate-summary/processors/ogp.ts
  pnpm-lock.yaml
Due: prettier, cspell, eslint

auto format by linters
  apps/blog/components.json
  apps/blog/src/app/globals.css
  apps/blog/src/components/ui/avatar.tsx
  apps/blog/src/components/ui/badge.tsx
  apps/blog/src/components/ui/button.tsx
  apps/blog/src/components/ui/card.tsx
  apps/blog/src/components/ui/input.tsx
  apps/blog/src/lib/utils.ts
  packages/articles/content/Django/drf_serializer_auto_type/index.md
  packages/articles/content/Django/drf_session_auth.md
  packages/articles/content/GAS/gas_webpack/index.md
  packages/articles/content/Gatsby/gatsby-blog.md
  packages/articles/content/Next/ssg_nextjs_image_optimization/index.md
  packages/articles/content/React/deps_custom_compare/index.md
  packages/articles/content/TypeScript/prisma_method/index.md
  packages/articles/content/TypeScript/ts_conditional_type_infer/index.md
  packages/articles/content/TypeScript/ts_switch_try_catch/index.md
  packages/articles/content/フロントエンド/astro_remake_blog/index.md
  packages/articles/content/フロントエンド/csrf_spa/index.md
  packages/articles/src/scripts/generate-summary/processors/assets.ts
  packages/tsconfig/node22.json
  packages/tsconfig/package.json
Due: prettier, cspell, eslint

fix linter errors
  apps/blog/eslint.config.mjs
  apps/blog/package.json
  apps/blog/src/app/about/page.tsx
  apps/blog/src/app/blog/[...slug]/opg-image.ts
  apps/blog/src/app/blog/[...slug]/page-content.tsx
  apps/blog/src/app/blog/page-content.tsx
  apps/blog/src/app/page.tsx
  apps/blog/src/components/Footer.tsx
  pnpm-lock.yaml
Due: prettier, cspell, eslint

required dependent build before typecheck and test
  turbo.json
Due: prettier, cspell

fix ci
  .github/workflows/ci.yaml
Due: prettier, cspell

fix routing and hydration error
  apps/blog/src/app/blog/[...slug]/page-content.tsx
  apps/blog/src/app/blog/page-content.tsx
Due: prettier, cspell, eslint

add typecheck script for blog
  apps/blog/package.json
Due: prettier, cspell

rename packages
  .github/workflows/ci.yaml
  apps/blog/next.config.ts
  apps/blog/package.json
  apps/blog/src/app/blog/[...slug]/opg-image.ts
  apps/blog/src/app/blog/[...slug]/page-content.tsx
  apps/blog/src/app/blog/[...slug]/page.tsx
  apps/blog/src/app/blog/page-content.tsx
  apps/blog/src/app/projects/page.tsx
  apps/blog/tsconfig.json
  packages/articles/package.json
  packages/articles/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier, cspell, eslint

use project tsconfig for blog app
  apps/blog/package.json
  apps/blog/src/app/blog/[...slug]/opg-image.ts
  apps/blog/tsconfig.json
  pnpm-lock.yaml
Due: prettier, cspell, eslint

add debug log on ci
  .github/workflows/ci.yaml
Due: prettier, cspell

add readable vali error
  cspell.json
  packages/articles/src/core/utils/valibot.ts
  packages/articles/src/scripts/generate-summary/index.ts
Due: prettier, cspell, eslint

fix prettier on lefthook
  lefthook.yml
Due: prettier, cspell

autoformat by prettier
  cspell.json
Due: prettier, cspell

fix ci typecheck problem
  .github/workflows/ci.yaml
  packages/articles/package.json
Due: prettier, cspell

fix article miss link
  apps/blog/src/app/blog/page-content.tsx
Due: prettier, cspell, eslint

fix codegeneration problem
  packages/articles/package.json
  turbo.json
Due: prettier, cspell

fix code generation step
  scripts/deploy_on_cloudflare.sh
Due: none

remove un required decoreURI
  apps/blog/src/app/blog/[...slug]/page.tsx
Due: prettier, cspell, eslint

chore: add Claude Code
  .claude/commands/create-pull-request.md
  .claude/commands/orchestrator.md
  .claude/commands/update-claude-md.md
  .gitignore
  .node-version
  CLAUDE.md
  scripts/get_base_branch.sh
Due: prettier, cspell

chore: remove commitizen dependency and configuration
  cspell.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

chore: cleanup remaining commitizen files and add new Claude command
  .claude/commands/update-claude-context.md
  .lefthook/prepare-commit-msg/commitizen.sh
  custom-cz-rule.cjs
Due: prettier, cspell

feat: add npm-run-all2 and replace pnpm script patterns with run-s
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

chore: remove unused top-level ESLint configuration
  .eslintignore
  .eslintrc.cjs
Due: prettier, cspell

refactor: remove anchors from lefthook config and add explicit package ESLint settings
  lefthook.yml
Due: prettier, cspell

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: prettier, cspell

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: prettier, cspell

ci: using Cloudflare Workers
  apps/blog/package.json
  apps/blog/wrangler.jsonc
  pnpm-lock.yaml
  scripts/deploy_on_cloudflare.sh
Due: prettier, cspell

ci: update master references to main
  .github/workflows/ci.yaml
  scripts/get_base_branch.sh
Due: prettier, cspell

chore: prettier
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  cspell.json
Due: prettier, cspell

chore: prettier
  README.md
Due: prettier, cspell
