Repository d-kimuson/kimuson.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, cspell, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: |
        pnpm prettier --write --ignore-unknown {staged_files}
        git add {staged_files}
    cspell:
      glob: "*.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm cspell lint --gitignore --cache {staged_files}
    eslint:
      glob: "*.{tsx,ts,mts,mcs}"
      run: |
        pnpm eslint --fix {staged_files}
        git add {staged_files}

prepare-commit-msg:
  parallel: true
  scripts:
    "commitizen.sh":
      interactive: true
      runner: sh

feat(*): update pnpm version
  package.json
  pnpm-lock.yaml
  scripts/setup.sh
  scripts/update_pnpm.sh
Due: prettier, cspell

chore(*): cspellの設定を更新
  cspell.json
  custom-cz-rule.cjs
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

ci(ci): lint と typecheck を行う workflow を追加
  .github/workflows/ci.yaml
Due: prettier, cspell

ci(dependabot): もう使わない
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Due: prettier, cspell

ci(renovate): update renove config
  cspell.json
  renovate.json
Due: prettier, cspell

chore(*): ci通す
  .github/workflows/ci.yaml
  src/env.d.ts
Due: prettier, cspell, eslint

ci(ci): ENVを設定しないとastro syncが実行できない
  .github/workflows/ci.yaml
Due: prettier, cspell

chore(.prettierrc): astro plugin を有効にする
  .prettierrc.cjs
Due: prettier, cspell

chore(.vscode/settings.json): astroファイルで自動整形が回るように
  .vscode/settings.json
Due: prettier, cspell

ci(cd): preview環境でのビルドが壊れてた
  scripts/deploy_on_cloudflare.sh
Due: none

ci(cd): 勝手に pnpm i するからいれなかったっぽい
  scripts/deploy_on_cloudflare.sh
Due: none

feat(*): draftな記事はlocalでのみ表示する
  src/domain-object/article/internal-article.ts
  src/domain-object/tag.ts
  src/features/blog/components/blog-list.tsx
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/rss.xml.ts
Due: prettier, cspell, eslint

chore(*): ローカルでのport変更
  astro.config.mjs
  src/config/site.ts
Due: prettier, cspell, eslint

new-article(astro_remake_blog): astro に置き換えた話を書いた
  cspell.json
  src/content/internal-article/フロントエンド/astro_remake_blog/astro_score.png
  src/content/internal-article/フロントエンド/astro_remake_blog/gatsby_score.png
  src/content/internal-article/フロントエンド/astro_remake_blog/index.mdx
Due: prettier, cspell

fix-article(astro_remake_blog): 記事直したのと下書き外した
  src/content/internal-article/フロントエンド/astro_remake_blog/index.mdx
Due: none

new-article(ts_switch_try_catch): 記事書いた！
  cspell.json
  package.json
  scripts/new_article.sh
  scripts/setup.sh
  scripts/template/blog.md
  src/content/internal-article/TypeScript/ts_switch_try_catch/index.mdx
Due: prettier, cspell

fix-article(ts_switch_try_catch): draft外す
  src/content/internal-article/TypeScript/ts_switch_try_catch/index.mdx
Due: none

new-article(deps_custom_compare): 記事書いた
  cspell.json
  public/assets/thumbnails/React.png
  src/content/internal-article/React/deps_custom_compare/index.mdx
Due: prettier, cspell

feat(*): update versions
  package.json
  pnpm-lock.yaml
  src/lib/form/use-form.ts
  src/lib/utils/utils.type.ts
Due: prettier, cspell, eslint

update pnpm version
  package.json
  scripts/setup.sh
Due: prettier, cspell

using rtx
  scripts/setup.sh
Due: none

remove emtpy test dir
  test/tsconfig.json
Due: prettier, cspell

update eslint vscode setting
  .vscode/settings.json
Due: prettier, cspell

update pnpm
  package.json
  scripts/setup.sh
  scripts/update_pnpm.sh
Due: prettier, cspell

update pnpm related packages
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

update linter related packages
  package.json
  pnpm-lock.yaml
  src/content/internal-article/TypeScript/ts_conditional_type_infer/index.md
  src/domain-object/article/internal-article.ts
  src/lib/utils/utils.type.ts
Due: prettier, cspell, eslint

update other packages
  package.json
  pnpm-lock.yaml
Due: prettier, cspell

add turbo
  .gitignore
  .prettierignore
  apps/blog/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier, cspell

adjust lefthook config for monorepo
  lefthook.yml
Due: prettier, cspell

chore: fix env loading
  apps/blog/package.json
Due: prettier, cspell

fix vscode settings for monorepo
  .prettierrc.js
  .vscode/settings.json
Due: prettier, cspell

fix ci for monorepo
  .github/workflows/ci.yaml
  apps/blog/package.json
Due: prettier, cspell

add shared tsconfig
  packages/tsconfig/base.json
  packages/tsconfig/node22.json
  packages/tsconfig/package.json
Due: prettier, cspell

feat: possible to get and search content from article's exported methods.
  .vscode/settings.json
  packages/articles/.gitignore
  packages/articles/package.json
  packages/articles/scripts/build/index.ts
  packages/articles/scripts/build/processors/markdown.ts
  packages/articles/scripts/build/processors/zenn.ts
  packages/articles/scripts/build/types.ts
  packages/articles/src/core/configs.ts
  packages/articles/src/core/schema.ts
  packages/articles/src/core/types.ts
  packages/articles/src/index.ts
  packages/articles/src/scripts/generate-summary/index.ts
  packages/articles/src/scripts/generate-summary/path.ts
  packages/articles/src/scripts/generate-summary/processors/assets.ts
  packages/articles/src/scripts/generate-summary/processors/feed.ts
  packages/articles/src/scripts/generate-summary/processors/markdown.ts
  packages/articles/tsconfig.json
  packages/articles/tsup.config.ts
  packages/tsconfig/base.json
  pnpm-lock.yaml
Due: prettier, cspell, eslint

add init project generated by v0
  apps/blog-v2/.gitignore
  apps/blog-v2/README.md
  apps/blog-v2/components.json
  apps/blog-v2/eslint.config.mjs
  apps/blog-v2/next.config.ts
  apps/blog-v2/package.json
  apps/blog-v2/postcss.config.mjs
  apps/blog-v2/public/file.svg
  apps/blog-v2/public/globe.svg
  apps/blog-v2/public/next.svg
  apps/blog-v2/public/vercel.svg
  apps/blog-v2/public/window.svg
  apps/blog-v2/src/app/about/page.tsx
  apps/blog-v2/src/app/blog/[slug]/page.tsx
  apps/blog-v2/src/app/blog/page.tsx
  apps/blog-v2/src/app/favicon.ico
  apps/blog-v2/src/app/globals.css
  apps/blog-v2/src/app/layout.tsx
  apps/blog-v2/src/app/page.tsx
  apps/blog-v2/src/app/projects/page.tsx
  apps/blog-v2/src/components/Footer.tsx
  apps/blog-v2/src/components/Header.tsx
  apps/blog-v2/src/components/ui/avatar.tsx
  apps/blog-v2/src/components/ui/badge.tsx
  apps/blog-v2/src/components/ui/button.tsx
  apps/blog-v2/src/components/ui/card.tsx
  apps/blog-v2/src/components/ui/input.tsx
  apps/blog-v2/src/lib/utils.ts
  apps/blog-v2/tailwind.config.ts
  apps/blog-v2/tsconfig.json
  cspell.json
  pnpm-lock.yaml
Due: prettier, cspell, eslint

feat: blog list and detail page
  apps/blog-v2/next.config.ts
  apps/blog-v2/package.json
  apps/blog-v2/src/app/blog/[...slug]/page-content.tsx
  apps/blog-v2/src/app/blog/[...slug]/page.tsx
  apps/blog-v2/src/app/blog/page.tsx
  apps/blog-v2/src/components/Header.tsx
  apps/blog-v2/tsconfig.json
  packages/articles/package.json
  packages/articles/src/index.ts
  packages/articles/src/scripts/generate-summary/path.ts
  pnpm-lock.yaml
Due: prettier, cspell, eslint

feat: enhance blog layout and configuration
  apps/blog-v2/next.config.ts
  apps/blog-v2/public/profile.jpg
  apps/blog-v2/src/app/about/page.tsx
  apps/blog-v2/src/app/blog/[...slug]/page-content.tsx
  apps/blog-v2/src/app/blog/page.tsx
  apps/blog-v2/src/app/layout.tsx
  apps/blog-v2/src/app/page.tsx
  apps/blog-v2/src/components/AboutMeCard.tsx
  apps/blog-v2/src/components/Footer.tsx
  apps/blog-v2/src/components/Header.tsx
  apps/blog-v2/src/config/site.ts
  apps/blog-v2/src/config/sns.ts
  apps/blog-v2/tailwind.config.ts
Due: prettier, cspell, eslint

feat: integrate GitHub projects and enhance article generation
  packages/articles/package.json
  packages/articles/src/core/configs.ts
  packages/articles/src/core/schema.ts
  packages/articles/src/core/types.ts
  packages/articles/src/scripts/generate-summary/index.ts
  packages/articles/src/scripts/generate-summary/processors/github.ts
  packages/articles/tsconfig.json
  pnpm-lock.yaml
Due: prettier, cspell, eslint
